<ion-content [fullscreen]="true">

  <div id="container">
    <strong>Авторизация</strong>

    <img (click)="googleSignup()" class="icon" src="../../assets/google.svg" alt="Авторизация с помощью Google">
    <img class="icon" src="../../assets/facebook.svg" alt="Авторизация с помощью Facebook">
    <img class="icon" src="../../assets/apple_logo.svg" alt="Авторизация с помощью Apple">
    <img class="icon" src="../../assets/android.svg" alt="Авторизация с помощью Android">



    <p>
      <a href="javascript:history.back()">Назад</a>
    </p>
<!--    <p>-->
<!--      {{userInfo | json}}-->
<!--    </p>-->

  </div>
</ion-content>
