@font-face {
  font-family: "ChinaCyr";
  src: url("../../../assets/fonts/chinacyr.ttf");
}

.group {
  text-align: left;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  height: 90%;
  position: absolute;
  left: 0;
  right: 0;
  color: #525252;
  font-size: 20px;
  line-height: 26px;
  background: url('../../../assets/main_screen_background.jpeg') no-repeat center bottom;
  background-size: 600px 620px;
  filter:  brightness(1.15) saturate(0.6);
}

.authorizationContainer {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  padding: 0 30px;
  margin-top: -25px;
}

.authorizationContainer p a{
  color: red;
}

.group-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.mainIcon {
  width: 250px;
  height: 250px;
}

.in-construction{
  pointer-events: none;
  color: #cdcdcd;
}

#container p {
  font-size: 16px;
  color: #8c8c8c;
}

#container a {
  text-decoration: none;
}
