ion-tab-bar {
  height: 60px;
  background-color: #583706;
}
ion-tab-button{
  background-color: transparent;
  background-image: url(../../assets/button.png);
  background-position: center;
  background-repeat: no-repeat;
}
