<ion-content [fullscreen]="true">
  <app-top></app-top>
  <app-alarm></app-alarm>
  <div id="container">
    <div class="row">
      <app-icon
        [src]="'../../assets/practice-previews/meditation.png'"
        routerLink="/timer"
        [queryParams]="{
          img: '../../assets/practice-previews/meditationTimer.png',
          title: 'Медитация',
          subTitle: 'регулярная практика',
          playColor: '#6EC7F5'
          }"
        [hours]="meditationHours"
        [disabled]="false"
        title="Медитация"
        subTitle="регулярная практика"
      >
      </app-icon>
    </div>
    <br/>
    <div class="row">
      <app-icon
        [src]="'../../assets/practice-previews/stand.png'"
        routerLink="/timer"
        [queryParams]="{
          img: '../../assets/practice-previews/standTimer.png',
          title: 'Столбовое стояние',
          subTitle: 'регулярная практика',
          playColor: '#6EC7F5'
          }"
        [hours]="standHours"
        [disabled]="false"
        title="Столбы"
        subTitle="регулярная практика">

      </app-icon>
    </div>
    <br/>
    <div class="row">
      <app-icon [src]="'../../assets/practice-previews/qigong.png'" [hours]="2" [disabled]="false" title="Цигун"
                subTitle="регулярная практика"></app-icon>
    </div>
  </div>
</ion-content>
