<div class="top">
  <div class="container">
    <img class="icon" src="../../../../assets/icons/meditation-icon.png">
    <p class="label">0</p>
  </div>
  <div class="container">
    <img class="icon" src="../../../../assets/icons/qigong-icon.png">
    <p class="label">0</p>
  </div>
  <div class="container">
    <img class="icon" src="../../../../assets/icons/stand-icon.png">
    <p class="label">0</p>
  </div>
  <div class="container">
    <img class="icon" src="../../../../assets/icons/stretching-icon.png">
    <p class="label">0</p>
  </div>
  <div class="container">
    <ion-menu-button menu="main">
      <img class="icon" src="../../../../assets/icons/userpic.png">
    </ion-menu-button>
  </div>
</div>
