@font-face {
  font-family: "ChinaCyr";
  src: url("../../../../assets/fonts/chinacyr.ttf");
}

.group {
  text-align: left;
}

#container {
  font-family: "ChinaCyr", sans-serif;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  color: #525252;
  padding: 30px 20px;
  font-size: 30px;
  line-height: 26px;
  height: auto;
}

.group-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.mainIcon {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  border: 1px solid #a1897a;
}

.in-construction{
  pointer-events: none;
  color: #cdcdcd;
}

h1 {
  font-size: 32px;
  margin: 6px 0 3px 0;
}

#container li, p{
  font-size: 18px;
  color: #5c5c5c;
  margin-bottom: 10px;
  font-family: sans-serif;
}

#container a {
  text-decoration: none;
}
