<ion-content [fullscreen]="true">
  <div id="container">
    <h1><b>Шесть</b></h1>
    <h1><b>целительных</b></h1>
    <h1><b>звуков</b></h1>
    <p>Звуковая медитация</p>

    <br>
    <br>
    <div class="group">
      <div class="group-header" (click)="onHeaderClick('showStageOne')">
        <h4>Звук легких</h4>
        <ion-icon *ngIf="showStageOne" name="chevron-up-outline" size="small"></ion-icon>
        <ion-icon *ngIf="!showStageOne" name="chevron-down-outline" size="small"></ion-icon>
      </div>
      <div *ngIf="showStageOne">
        <ol>
          <li>Практикуйте Хранение Одного. Сначала на короткое время сфокусируйтесь на точке перед собой. Затем скосите
            глаза и на минуту или две сфокусируйте их на кончике носа, после чего также на минуту или две перенесите
            точку фокусировки на две трети длины носа вверх, на бугорок. Затем переместите точку фокусировки и
            сконцентрируйтесь на точке между глазами и оставьте ее там на минуту или две.
          </li>
          <li>Закройте глаза.</li>
          <li>Используйте свое воображение или силу визуализации для того, чтобы представить прямо перед своими глазами
            солнце, если вы делаете это днем, или луну, если ночью. У этого солнца или луны улыбающееся лицо, и
            улыбается оно прямо вам в глаза. Если вам будет легче, можете представить улыбающееся лицо любимого
            человека.
          </li>
          <li>Направьте исходящую от солнца, луны или любимого человека энергию улыбки. Она направлена во внешний угол
            левого глаза. Почувствуйте, как уголок вашего левого глаза начинает расслабляться и улыбаться.
          </li>
          <li>Поднимите левый уголок вашего рта в улыбке. Почувствуйте взаимосвязь между улыбающимся левым уголком
            вашего рта и улыбающимся внешним уголком вашего левого глаза. Почувствуйте, как левая половина вашего лица
            как бы воспряла и расслабилась.
          </li>
          <li>Повторите ту же процедуру для внешнего уголка вашего правого глаза и правого уголка рта.</li>
          <li>Направьте улыбку во внутренний утолок левого глаза.</li>
          <li>Повторите то же самое для внутреннего уголка правого глаза.</li>
          <li>Переведите энергию улыбки от солнца или луны в зрачок глаза и почувствуйте, как он наполняется энергией.
          </li>
          <li>Повторите то же самое для правого зрачка и почувствуйте, как он наполняется энергией улыбки.</li>
          <li>Переведите энергию улыбки в радужную оболочку левого глаза и почувствуйте, как она наполняется энергией
            улыбки. Глубоко вдохните, как при Брюшном Дыхании, затем выдохните и втяните мышцу радужки, одновременно
            втягивая анус для того, чтобы помочь себе почувствовать и активизировать радужную оболочку глаза. Вдохните и
            расслабьтесь.
          </li>
          <li>Повторите то же самое для радужной оболочки правого глаза, выдохните и натяните мышцу радужки,
            одновременно втягивая анус. Вдохните и расслабьтесь.
          </li>
          <li>Направьте улыбку во всю белую часть левого глаза, как снаружи, так и внутри, почувствуйте, как все глазное
            яблоко наполняется энергией улыбки.
          </li>
          <li>Повторите то же самое для белка и внутренней части правого глаза.</li>
          <li>Направьте улыбку в верхнее веко левого глаза и почувствуйте, как оно наполняется энергией улыбки.</li>
          <li>Направьте улыбку в верхнее веко правого глаза и почувствуйте, как оно наполняется энергией улыбки.</li>
          <li>Направьте улыбку в нижнее веко левого глаза и почувствуйте, как оно наполняется энергией улыбки.</li>
          <li>Направьте улыбку в нижнее веко правого глаза и почувствуйте, как оно наполняется энергией улыбки.</li>
          <li>Держите глаза закрытыми и сосредоточьте свое сознание на кончике носа.</li>
          <li>Перенесите сначала свое сознание на бугорок на носу, а затем на Третий Глаз.</li>
          <li>Направьте улыбку в Третий Глаз. Переведите энергию улыбки солнца, если на дворе день, луны, если на дворе
            ночь, или улыбающегося лица любимого человека в область Третьего Глаза. Почувствуйте, как эта область
            расслабляется по мере наполнения энергией.
          </li>
          <li>Переведите энергию улыбки в голову. Представьте себе, что ваш взгляд начинается на кончике носа, идет
            вверх через бугорок в Третий Глаз и углубляется на 3 дюйма дальше в мозг. Мысленно оставайтесь там в течение
            нескольких минут. Понаблюдайте за своими мыслями или просто посидите тихо.
          </li>
          <li>Разотрите руки и сделайте массаж лица, накройте глаза ладонями и перед тем, как открыть глаза, несколько
            секунд впитывайте тепло.
          </li>
        </ol>
      </div>
    </div>

    <div class="group">
      <div class="group-header" (click)="onHeaderClick('showStageTwo')">
        <h4>Звук почек</h4>
        <ion-icon *ngIf="showStageTwo" name="chevron-up-outline" size="small"></ion-icon>
        <ion-icon *ngIf="!showStageTwo" name="chevron-down-outline" size="small"></ion-icon>
      </div>
      <div *ngIf="showStageTwo">
        <ol>
          <li>Повторите упражнение Золотого Цветка до того места, где вы направляли улыбку в различные части глаз и
            связывали эту улыбку с улыбкой поднятых уголков губ. Если вы связали внешние и внутренние уголки глаз,
            зрачки, радужки, белки и верхние и нижние веки, то вы готовы приступить к дальнейшим этапам упражнения.
          </li>
          <li>Почувствуйте, как улыбается весь ваш левый глаз, и почувствуйте его взаимосвязь с поднятым левым уголком
            ваших губ. Почувствуйте, как внешний уголок вашего левого глаза изгибается, когда вы улыбаетесь.
          </li>
          <li>Почувствуйте, как улыбается весь ваш правый глаз, и почувствуйте его взаимосвязь с поднятым правым уголком
            ваших губ. Почувствуйте, как внешний уголок вашего правого глаза изгибается, когда вы улыбаетесь.
          </li>
          <li>Быстро перенесите точку концентрации на кончик носа и достаточно быстро поднимите ее к бугорку носа, а
            затем к Третьему Глазу.
          </li>
          <li>Направьте улыбку в точку Третьего Глаза. Ощутите, как эта улыбка входит в пространство за Третьим Глазом,
            ощущение должно быть такое, как будто вы смогли развернуть свое зрение в обратную сторону и заглянуть себе в
            голову. Оставайтесь там две минуты или больше.
          </li>
          <li>Поместите язык между передней стороной зубов и внутренней стороной губ, 9 раз проведите языком по кругу —
            все равно, в каком направлении, — затем поместите язык за зубами и 6 раз проведите языком в обратном
            направлении. Ваш рот должен наполниться слюной. Подвигайте нижней челюстью вперед-назад, как будто вы «жуете
            слюну», наполняя ее энергией улыбки.
          </li>
          <li>Поместите кончик языка на нёбо за зубами. Втяните подбородок, выпрямите заднюю часть шеи и напрягите
            горло, с шумом проглотите слюну.
          </li>
          <li>Проследите путь слюны и опустите свою концентрацию и энергию улыбки в точку Нижнего Даньтяня, примерно на
            две трети вглубь тела и чуть больше дюйма ниже пупка. Если вы ничего не чувствуете, просто воспользуйтесь
            своим воображением и представьте себе, как это должно быть.
          </li>
          <li>Выполните Дыхание Кузнечных Мехов — примерно 18 или больше коротких резких вдохов и выдохов, как при
            Брюшном Дыхании, причем каждый вдох или выдох не должен длиться больше одной секунды. Используйте брюшные
            мышцы для того, чтобы сильно сократить живот на выдохе. Вдох и выдох делайте через нос.
          </li>
          <li>Несколько минут удерживайте свою концентрацию на Нижнем Даньтяне и одновременно переключитесь на медленное
            Брюшное Дыхание (это называется Медленный Огонь).
          </li>
          <li>Завершение упражнения:</li>
          <p><b>Мужчины:</b> Положите левую руку на пупок и накройте ее правой рукой сверху. Сделайте 36 круговых
            движений по часовой стрелке (сверху вниз идете по левой стороне, а поднимаетесь по правой), круги не должны
            превышать трех дюймов, ладони накрывают одна другую. Затем поменяйте направление и сделайте 24 круговых
            движения против часовой стрелки. Также пользуйтесь сознанием для направления ци вокруг пупка. На последнем
            движении направьте ци в Нижний Даныпянъ.</p>
          <p><b>Женщины:</b> Положите свою правую руку на пупок и накройте ее своей левой рукой сверху. Сделайте 36
            круговых движений против часовой стрелки (сверху вниз идете по правой стороне, а поднимаетесь по левой),
            круги не должны быть больше трех дюймов, ладони накрывают одна другую. Затем поменяйте направление и
            сделайте 24 круговых движения по часовой стрелке. Также пользуйтесь сознанием для наравления ци вокруг пука.
            На последнем движении направьте ци в Нижний Данътянь.</p>
          <li>Разотрите ладони и сделайте Массаж Лица. Снова разотрите ладони, накройте ими глаза и впитывайте ци
            глазами.
          </li>
        </ol>

      </div>
    </div>

    <div class="group">
      <div class="group-header" (click)="onHeaderClick('showStageThree')">
        <h4>Звук печени</h4>
        <ion-icon *ngIf="showStageThree" name="chevron-up-outline" size="small"></ion-icon>
        <ion-icon *ngIf="!showStageThree" name="chevron-down-outline" size="small"></ion-icon>
      </div>
      <div *ngIf="showStageThree">
        <ol>
          <li>Кончик вашего языка поднят к нёбу.</li>
          <li>Направьте свое сознание на кончик носа, сместитесь на бугорок носа, а затем в Третий Глаз.</li>
          <li>Представьте солнце (не используйте образ луны для этого упражнения), улыбающееся вам прямо в глаза.
            Направьте улыбку во внешние и внутренние уголки обоих глаз, в зрачки, радужки, белки, верхние и нижние веки,
            почувствуйте их взаимосвязь с уголками губ.
          </li>
          <li>Выполните Улыбку Передней Линии (пять основных органов).</li>
          <li>Проглотите слюну и сделайте Улыбку Средней Линии (шея, желудок, толстый и тонкий кишечники, прямая кишка и
            анус).
          </li>
          <li>Соберите энергию улыбки в точке Третьего Глаза. Внутренним зрением направьте свою улыбку на три дюйма
            прямо назад в гипофиз. Почувствуйте, как гипофиз открывается и начинает расцветать. Ощутите, как энергия
            улыбки расширяется вокруг гипофиза и заполняет весь Хрустальный Дворец, который включает таламус и
            шишковидную железу. Это энергетический центр нервной системы. Почувствуйте, как центр вашего мозга излучает
            яркий золотой свет, который освещает весь ваш мозг.
          </li>
          <li>
            Сместите вашу улыбку в форме сияющего света вверх к левой стороне мозга.
            <br/>
            Перемещайте внутреннее улыбающееся зрение вперед и назад по левому полушарию. Двигайтесь вперед-назад,
            вверх-вниз до тех пор, пока не почувствуете всю левую сторону мозга наполненной лучащейся энергией улыбки.
          </li>

          <li>Теперь переместите Внутреннюю Улыбку в правую часть мозга. Двигайтесь вперед-назад, вверх-вниз, до тех
            пор, пока не почувствуете всю правую сторону мозга наполненной лучащейся энергией улыбки и любви.
          </li>
          <li>Перенесите золотую лучащуюся улыбку в переднюю часть мозга и двигайте ее назад через середину мозга.
            Граница между правым полушарием и левым растворяется. Затем улыбка поворачивает вниз в мозжечок, который
            находится в основании черепа. Это уравновесит ваши полушария и укрепит нервы.
          </li>
          <li>Переместите Внутреннюю Улыбку в средину, где мозг стыкуется с самыми верхними позвонками шеи.
            Почувствуйте, как она расширяется, становится мягкой и входит в позвоночный столб. Перемещайте Внутреннюю
            Улыбку, начиная с шейных позвонков у основания черепа. Наполните лучащейся энергией любви каждый позвонок и
            диск под ним. Считайте каждый позвонок, когда опускаете улыбку вниз через позвоночник. Пройдите один за
            другим все семь шейных позвонков.
          </li>
          <li>Когда закончите шейные позвонки, продолжайте спускаться через двенадцать грудных позвонков, проходите
            позвонки один за другим.
          </li>
          <li>Дальше направьте улыбку в пять поясничных позвонков нижнего отдела спины.</li>
          <li>Продолжите в крестце, улыбнитесь этой треугольной кости, состоящей из пяти сросшихся позвонков.</li>
          <li>В конце улыбнитесь своему копчику —кости в самом кончике вашего позвоночника.</li>
          <li>Теперь весь ваш позвоночник наполнен улыбающимся золотым лучащимся светом. Почувствуйте, как ваш
            позвоночный столб начинает чувствовать себя свободно и комфортно. Почувствуйте, как диски становятся мягче,
            когда вы направляете в них улыбку. Почувствуйте, как ваш позвоночник расширяется и удлиняется, позволяя вам
            почувствовать себя более высокими. Лучистая энергия улыбки заполняет весь ваш позвоночник и выходит из него
            во все нервы вашего тела.
          </li>
          <li>Почувствуйте, как Внутренняя Улыбка излучается в ваши руки и кисти.</li>
          <li>Почувствуйте, как Внутренняя Улыбка излучается в ваши руки и кисти. <br/>Улыбнитесь своим пальцам,
            почувствуйте, как кончик каждого пальца улыбается и светится подобно маленькому солнцу.
          </li>
          <li>Направьте улыбку вниз в половые органы, а затем в ноги, через колени и лодыжки в свои стопы. Улыбнитесь
            своим пальцам ног, почувствуйте, как кончик каждого пальца улыбается и светится подобно маленькому солнцу.
            Почувствуйте, как все ваше тело улыбается и излучает золотой свет.
          </li>
          <li>Верните свою Внутреннюю Улыбку в область Третьего Глаза. С помощью языка выделите слюну и наполните ее
            золотым лучистым светом. Проглотите слюну и проследите ее путь вниз в Нижний Даньтянъ. Сделайте Дыхание
            Кузнечных Мехов для Разогрева Печи. Сделайте минимум 18 быстрых вдохов.
          </li>
          <li>Верните свою Внутреннюю Улыбку в область Третьего Глаза. С помощью языка выделите слюну и наполните ее
            золотым лучистым светом. Проглотите слюну и проследите ее путь вниз в Нижний Даньтянъ. Сделайте Дыхание
            Кузнечных Мехов для Разогрева Печи. Сделайте минимум 18 быстрых вдохов.
          </li>
          <p><b>Завершение:</b></p>
          <li><b>Мужчины:</b> заставьте энергию двигаться спиральными движениями по часовой стрелке 36 раз вокруг пупка,
            поменяйте направление и сделайте 24 раза против часовой стрелки.
            <br/> <br/><b>Женщины: </b>заставьте энергию двигаться спиральными движениями против часовой стрелки 36 раз
            вокруг пупка, поменяйте направление и сделайте 24 раза по часовой стрелке.
          </li>
          <li>Разотрите ладони и сделайте массаж лица. Разотрите их снова, накройте ими глаза и впитывайте ци прямо в
            глаза.
          </li>
          <li>Разотрите ладони и сделайте массаж лица. Разотрите их снова, накройте ими глаза и впитывайте ци прямо в
            глаза.
          </li>
          <li><b>Мужчины:</b> положите левую ладонь на пупок и накройте ее правой ладонью сверху.
            <br/> <br/>
            <b>Женщины:</b> положите правую ладонь на пупок и накройте ее левой ладонью сверху. Тихо посидите так с
            минуту или две, чтобы закончить упражнение.
          </li>
        </ol>

      </div>
    </div>

  </div>
  <app-footer></app-footer>
</ion-content>
