<ion-content [fullscreen]="true">
  <app-top></app-top>
  <app-alarm></app-alarm>
  <div id="container">
    <div class="row">
      <app-icon
        [src]="'../../assets/theory-previews/meditation.png'"
        routerLink="/audio-player"
        [queryParams]="{
          link: 'https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1296571417&color=%23ff5500&auto_play=false&hide_related=true&show_comments=false&show_user=false&show_reposts=false&show_teaser=false&visual=true',
          title: 'Медитация на развитие концентрации'
          }"
        [hours]="1"
        [disabled]="false"
        title="Медитация"
        subTitle="на развитие концентрации"
      >
      </app-icon>
      <app-icon [src]="'../../assets/theory-previews/sounds.png'" [hours]="1" [disabled]="false" title="Практика"
                subTitle="Шесть целительных звуков">
      </app-icon>
    </div>
    <div class="row">
      <app-icon [src]="'../../assets/theory-previews/qigong.png'" [hours]="1" [disabled]="false" title="Цигун"
                subTitle="для укрепления иммунитета"></app-icon>
    </div>
    <div class="row">
      <app-icon [src]="'../../assets/theory-previews/self-massage.png'" [hours]="1" [disabled]="false" title="Практика"
                subTitle="даосский самомассаж"></app-icon>
      <app-icon [src]="'../../assets/theory-previews/inner-smile.png'" [hours]="1" [disabled]="false" title="Медитация"
                subTitle="внутренняя улыбка"></app-icon>
    </div>
    <div class="row">
      <app-icon [src]="'../../assets/theory-previews/stretching.png'" [hours]="1" [disabled]="false" title="Практика"
                subTitle="Растяжка"></app-icon>
    </div>


    <br/>
    <br/>
    <br/>
    <br/>

    <div class="row">
      <app-icon
        [src]="'../../assets/theory-previews/meditation.png'"
        routerLink="/audio-player"
        [hours]="1"
        [disabled]="true"
        title="Медитация"
        subTitle="на развитие концентрации"
      >
      </app-icon>

      <app-icon [src]="'../../assets/theory-previews/sounds.png'"
                [hours]="1"
                [disabled]="true"
                title="Медитация"
                subTitle="на развитие концентрации">

      </app-icon>
    </div>
    <div class="row">
      <app-icon [src]="'../../assets/theory-previews/qigong.png'" [hours]="1" [disabled]="true" title="Медитация"
                subTitle="на развитие концентрации"></app-icon>
    </div>
    <div class="row">
      <app-icon [src]="'../../assets/theory-previews/self-massage.png'" [hours]="2" [disabled]="true" title="Медитация"
                subTitle="на развитие концентрации"></app-icon>
      <app-icon [src]="'../../assets/theory-previews/inner-smile.png'" [hours]="1" [disabled]="true" title="Медитация"
                subTitle="на развитие концентрации"></app-icon>
    </div>
    <div class="row">
      <app-icon [src]="'../../assets/theory-previews/stretching.png'" [hours]="2" [disabled]="true" title="Медитация"
                subTitle="на развитие концентрации"></app-icon>
    </div>


  </div>
</ion-content>
